@import url('https://fonts.googleapis.com/css2?family=Mrs+Sheppards&family=Oswald:wght@200;400;500;600&display=swap');
* {
 margin: 0;
 padding: 0;
}
body {
 font: {
  font-family: $font-stack;
  font-size:18px;
 }
 line-height: 1.5;
}
img {
 width: 100%;
 height: auto;
}
h1, h2, h3, h4, h5, h6 {
 font-family: $second-font;
}
p {
 font-family: $font-stack;
}
a {
 text-decoration: none;
}
ul {
 list-style: none;
}
