@import url("https://fonts.googleapis.com/css2?family=Mrs+Sheppards&family=Oswald:wght@200;400;500;600&display=swap");
.col-1 {
  width: 100%; }
.col-2 {
  width: 50%; }
.col-3 {
  width: 100% / 3; }
.col-4 {
  width: 100% / 4; }
.col-5 {
  width: 25%; }
.col-6 {
  width: 100% / 6; }

.bk-main {
  background-color: #9e6240; }
.bk-dark {
  background-color: #644536; }
.bk-light {
  background-color: #ffe0b5; }

.text-dark {
  color: black; }
.text-light {
  color: white; }

.bd-solid {
  border-style: solid; }
.bd-dotted {
  border-style: dotted; }
.bd-dashed {
  border-style: dashed; }
.bd-left {
  border-left-width: 1px; }
.bd-right {
  border-right-width: 1px; }
.bd-top {
  border-top: 1px; }
.bd-bottom {
  border-bottom: 1px; }
.bd-all {
  border-width: 1px; }

.py-1 {
  padding: 5px; }
.py-2 {
  padding: 5px; }
.py-3 {
  padding: 5px; }
.py-fullscreen {
  padding: 0 30px; }

* {
  margin: 0;
  padding: 0; }

body {
  font-font-family: Oswald, sans-serif;
  font-font-size: 18px;
  line-height: 1.5; }

img {
  width: 100%;
  height: auto; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Mrs Sheppards", cursive; }

p {
  font-family: Oswald, sans-serif; }

a {
  text-decoration: none; }

ul {
  list-style: none; }

#main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  #main-nav a {
    color: #ffe0b5; }
  #main-nav h2 {
    font-size: 50px; }
  #main-nav ul {
    font-family: Oswald, sans-serif;
    font-size: 20px; }
    #main-nav ul li {
      display: inline-block;
      padding: 0px 20px; }
      #main-nav ul li.active a {
        border-bottom: 3px solid #ffe0b5; }
      #main-nav ul li a {
        padding: 21px 0px;
        display: block; }
        #main-nav ul li a:hover {
          background-color: #ffe0b5;
          color: black;
          border-bottom: 3px solid #ffe0b5; }
    #main-nav ul li:last-child {
      padding-right: 0; }

#header-home {
  background: url("../img/homepage/chinese-tea-manki-kim.jpg") no-repeat center center/cover;
  height: 100vh;
  background-attachment: local; }
  #header-home h1, #header-home p {
    text-align: center; }
  #header-home h1 {
    font-size: 66px;
    color: #d4aa7d;
    padding-top: 50vh; }
    #header-home h1 span {
      font-size: 80px; }
  #header-home p {
    font-size: 40px; }
