// Grid
.col {
 &-1 {width: 100%;}
 &-2 {width: 50%;}
 &-3 {width: 100% / 3;}
 &-4 {width: 100% / 4;}
 &-5 {width: 25%;}
 &-6 {width: 100% / 6;}
}
// Background
.bk {
 &-main {
  background-color: $second-color;
 }
 &-dark {
  background-color: $first-color;
 }
 &-light {
  background-color: $fifth-color;
 }
}
// Text
.text {
 &-dark {color:$dark-color;}
 &-light {color:$light-color;}
}
// Borders
.bd {
 // Style
 &-solid {
  border-style: solid;
 }
 &-dotted {
  border-style: dotted;
 }
 &-dashed {
  border-style: dashed;
 }
 // width
 &-left {
  border-left-width: 1px;
 }
 &-right {
  border-right-width: 1px;
 }
 &-top {
  border-top: 1px;
 }
 &-bottom {
  border-bottom: 1px;
 }
 &-all{
  border-width: 1px;
 }
}
// Padding
.py {
 &-1 {
  padding: 5px;
 }
 &-2 {
  padding: 5px;
 }
 &-3 {
  padding: 5px;
 }
 &-fullscreen {
  padding: 0 30px;
 }
}


