// variables
$font-stack: Oswald, sans-serif;
$second-font: 'Mrs Sheppards', cursive;
$first-color: rgb(100,69,54);
$second-color: rgb(158,98,64);
$third-color: rgb(184,125,72);
$fourth-color: rgb(212,170,125);
$fifth-color: rgb(255,224,181);
$dark-color: rgb(0,0,0);
$light-color: rgb(255,255,255);
$full-screen: 1200px;



