@import 'variable';
@import 'utitlies';
@import 'config';

// Nav
#main-nav {
 display: flex;
 justify-content: space-between;
 align-items: center;
 
 a{
  color: $fifth-color;
 }
 
 h2 {
  font-size: 50px;
 }
 
 ul {
  font-family:$font-stack;
  font-size: 20px;
  
  li{
  display: inline-block;
   padding: 0px 20px;
   
   &.active a{
    border-bottom: 3px solid $fifth-color;
   }
   
   a {
   padding: 21px 0px;
    display: block; 
    
    &:hover {
     background-color: $fifth-color;
     color: $dark-color;
     border-bottom: 3px solid $fifth-color;
    }
    
   }
  }
  
  li:last-child {padding-right: 0;}
 }
}

#header-home {
 background: url("../img/homepage/chinese-tea-manki-kim.jpg") no-repeat center center/cover;
 height: 100vh;
 background-attachment: local; 
 
 h1, p {
  text-align: center;
 }
 
 h1 {
  font-size: 66px;
  color: $fourth-color;
  padding-top: 50vh;
  
  & span{
   font-size: 80px;
  }
 }
 
 p {
  font-size: 40px;
 }
}